/* mixins */
/* body */
body {
  font-family: cursive !important; }

/* scroll bar */
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/* Navbar */
@media (min-width: 989px) {
  .navbar {
    border-color: transparent !important;
    background-color: transparent !important; }
    .navbar a {
      color: #ffffff; }
    .navbar li {
      margin: 5px; }

  .scrolled {
    background-color: black !important;
    border: 1px solid black; } }
@media (max-width: 979px) {
  .navbar {
    border-color: transparent !important;
    background-color: black !important; }
    .navbar a {
      color: #ffffff; }
    .navbar li {
      margin: 0px; }

  .header {
    display: none; } }
/* Header */
.header {
  background-image: url("../Images/3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100% !important;
  min-width: 1024px !important;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0; }
  .header .header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -156.195px;
    color: #ffffff;
    margin-top: -60px;
    text-align: center; }

/* tabs-section */
.tabs-section {
  padding: 80px 0;
  background-color: #f5f5f5;
  margin-top: 80px !important; }
  .tabs-section img {
    width: 390px;
    height: 253px; }

.tab-switch li {
  background-color: #333;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  height: 110px;
  text-align: center;
  line-height: 110px;
  text-transform: uppercase; }
.tab-switch .selected, .tab-switch li:hover {
  background-color: #ff8b38; }

.tabs-section .tabs-content h3 {
  margin-top: 0px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px; }
.tabs-section .tabs-content p.lead {
  line-height: 1.6;
  font-size: 18px;
  color: #7e7e7e; }
.tabs-section .tabs-content div:not(.tab-two) {
  display: none; }
.tabs-section button {
  display: block;
  width: 150px;
  color: white !important;
  margin-top: 25px;
  background-color: #ff8b38 !important; }
  .tabs-section button:hover {
    background-color: #ffffff !important;
    color: black !important;
    border: 1px solid black !important; }

@media (max-width: 767px) {
  .tabs-section img {
    width: 320px;
    height: 253px;
    margin-top: 20px; } }
/* reservation form */
.Reservation {
  margin-top: 80px !important; }

form input {
  width: 250px !important;
  margin-bottom: 20px; }

.verification-button {
  display: block;
  width: 150px;
  color: white !important;
  margin-top: 25px;
  background-color: #ff8b38 !important; }
  .verification-button:hover {
    background-color: #ffffff !important;
    color: black !important;
    border: 1px solid black !important; }

@media (max-width: 767px) {
  .Reservation h1 {
    margin-bottom: 40px; } }
/* feedback */
.feedback {
  margin-top: 80px !important; }
  .feedback img {
    border-radius: 50%;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px; }
  .feedback .col-md-4 {
    font-size: 12px;
    color: gray;
    margin-bottom: 40px; }

/* contact us */
.uppercase {
  text-transform: uppercase;
  text-align: center; }

.contact-us {
  margin-top: 80px !important; }
  .contact-us form input {
    border: none;
    border-bottom: 1px solid orange;
    border-radius: 0px;
    width: 400px !important; }

#contact-message {
  height: 151px;
  border-color: orange;
  border: none;
  border-bottom: 1px solid orange;
  border-radius: 0px; }

.btnCenter {
  text-align: center; }

.contact-button {
  display: block;
  width: 150px;
  color: white !important;
  margin-top: 25px;
  background-color: #ff8b38 !important; }
  .contact-button:hover {
    background-color: #ffffff !important;
    color: black !important;
    border: 1px solid black !important; }

@media (max-width: 991.5px) and (min-width: 576px) {
  .contact-us form input {
    width: 280px !important; } }
@media (max-width: 575px) {
  .contact-us form input {
    width: 300px !important; } }
/* Footer */
.footer1 {
  margin-top: 80px !important;
  background-color: black;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 20px;
  text-align: center; }
  .footer1 .container .row ul li {
    line-height: 30px;
    padding: 5px; }
    .footer1 .container .row ul li a {
      color: #ffffff;
      text-decoration: none; }

small {
  color: #ffffff;
  text-align: center; }

/* For responsiveness */

/*# sourceMappingURL=style.css.map */
